<!DOCTYPE html>
<html>
<head>
    <title>Configure Quiz</title>
</head>
<body>
    <h1>Configure Your Quiz</h1>
    <form action="/" method="post">
        <select name="json_file">
            {% for file in json_files %}
                <option value="{{ file }}">{{ file }}</option>
            {% endfor %}
        </select>
        <label for="max_questions">Maximum Number of Questions:</label>
        <input type="number" id="max_questions" name="max_questions" min="1" required>
        <br><br>
        <label for="selection_type">Question Selection Method:</label>
        <select id="selection_type" name="selection_type">
            <option value="random">Random</option>
            <option value="text">Based on Text</option>
            <option value="list">List of IDs</option>
        </select>
        <br><br>
        <label for="search_text">Search Text or List (if applicable):</label>
        <input type="text" id="search_text" name="search_text">
        <br><br>
        <input type="submit" value="Start Quiz">
    </form>
</body>
</html>
